<% if @user.errors.any? %>
	<div id="error_messages">
	<h2> ERROR!!!</h2>
	</div>

	<ul>
	<% @user.errors.full_messages.each do |msg| %>
		<li> <%= msg %></li>
	<% end %>
	</ul>
<%end %>
	<div id="login">

		<h2>Register</h2>
<fieldset>
	<%= form_for @user do |f| %>

	<p><%= f.label :user_name %></p>
	<p><%= f.text_field :user_name %></p>
	<p><%= f.label :password %></p>
	<p><%= f.password_field :password %></p>
	<p><%= f.label :password_confirmation%></p>
	<p><%= f.password_field :password_confirmation%></p>
	<p><%= f.submit "" %></p>
	<% end %>
</fieldset>